// global styling goes here
$v-border: rgba(0, 0, 0, 0.12);

a {
  text-decoration: none;
}

@mixin hosted-field {
  box-sizing: border-box !important;
  height: 40px !important;
  padding: 10px 12px !important;
  border: 1px solid $v-border !important;
  border-radius: 4px !important;
  background-color: white !important;
  box-shadow: 0 1px 3px 0 #e6ebf1 !important;
  -webkit-transition: box-shadow 150ms ease !important;
  transition: box-shadow 150ms ease !important;
}

@font-face {
  font-family: 'Moderat';
  font-display: swap;
  font-weight: 300;
  font-style: normal;
  src: url('/assets/fonts/moderat/Moderat-Light.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/assets/fonts/moderat/Moderat-Light.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('/assets/fonts/moderat/Moderat-Light.eot'),
    /* IE9 Compat Modes */
    url('/assets/fonts/moderat/Moderat-Light.eot?#iefix') format('embedded-opentype');
  /* IE6-IE8 */
}

@font-face {
  font-family: 'Moderat';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/moderat/Moderat-Regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/assets/fonts/moderat/Moderat-Regular.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('/assets/fonts/moderat/Moderat-Regular.eot'),
    /* IE9 Compat Modes */
    url('/assets/fonts/moderat/Moderat-Regular.eot?#iefix') format('embedded-opentype');
  /* IE6-IE8 */
}

@font-face {
  font-family: 'Moderat';
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src: url('/assets/fonts/moderat/Moderat-Medium.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/assets/fonts/moderat/Moderat-Medium.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('/assets/fonts/moderat/Moderat-Medium.eot'),
    /* IE9 Compat Modes */
    url('/assets/fonts/moderat/Moderat-Medium.eot?#iefix') format('embedded-opentype');
  /* IE6-IE8 */
}

@font-face {
  font-family: 'Moderat';
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  src: url('/assets/fonts/moderat/Moderat-Bold.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/assets/fonts/moderat/Moderat-Bold.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('/assets/fonts/moderat/Moderat-Bold.eot'),
    /* IE9 Compat Modes */
    url('/assets/fonts/moderat/Moderat-Bold.eot?#iefix') format('embedded-opentype');
  /* IE6-IE8 */
}

body, .v-application {
  text-rendering: optimizeLegibility;
  font-family: 'Moderat', sans-serif;
}

.v-text-field {
  .v-input__slot {
    border: 1px solid $v-border;
    padding: 1rem 1.25rem 1rem 1.25rem;
  }
  &.v-input--is-label-active,
  &.v-input--is-focused {
    .v-input__slot {
      padding: 1.5rem 1.25rem .5rem 1.25rem;
    }
  }
} 
.theme--light.v-text-field>.v-input__control>.v-input__slot:before {
  border-color: $v-border;
}